<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.hacktisch.inspireme"
        version   = "1.0.0">
    <name>InspireMe</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="tech@hacktisch.com" href="http://hacktisch.com">
        Hacktisch
    </author>
    
    <access origin="*" />   

    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="false"/>    
    <preference name="DisallowOverscroll" value="true" />

        
    <!-- Plugins --> 
    <gap:plugin name="org.apache.cordova.core.media" />
    <gap:plugin name="org.apache.cordova.statusbar"  />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.1.0" />

    
    
    
    
    
    <!-- ICONS -->
    <icon src="icon.png" width="120" height="120" gap:role="default" />
    
    <!-- iPhone 6 / 6+ -->
    <icon src="i/ios/icon/Icon-60@3x.png" gap:platform="ios" width="180" height="180" />
    <!-- iPhone / iPod Touch  -->
    <icon src="i/ios/icon/Icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="i/ios/icon/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <!-- iPad -->
    <icon src="i/ios/icon/Icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="i/ios/icon/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <!-- Settings Icon -->
    <!--<icon src="i/ios/icon/" gap:platform="ios" width="29" height="29" />
    <icon src="i/ios/icon/" gap:platform="ios" width="58" height="58" />-->
    <!-- Spotlight Icon -->
    <icon src="i/ios/icon/Icon-Small-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="i/ios/icon/Icon-Small-40@2x.png" gap:platform="ios" width="80" height="80" />

    <!-- iPhone / iPod Touch -->
    <icon src="i/ios/icon/Icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="i/ios/icon/Icon@2x.png" gap:platform="ios" width="114" height="114" />
    <!-- iPad -->
    <icon src="i/ios/icon/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="i/ios/icon/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <!--<icon src="i/ios/icon/" gap:platform="ios" width="29" height="29" />
    <icon src="i/ios/icon/" gap:platform="ios" width="58" height="58" />-->
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="i/ios/icon/Icon-Small-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="/ios/icon/Icon-Small-50@2x.png" gap:platform="ios" width="100" height="100" />

    <icon src="i/android/res/drawable-ldpi/Icon.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="i/android/res/drawable-mdpi/Icon.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="i/android/res/drawable-hdpi/Icon.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="i/android/res/drawable-xhdpi/Icon.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="i/android/res/drawable-xxhdpi/Icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="i/android/res/drawable-xxxhdpi/Icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />

    
    
    
    
    
    <!-- Splash Screens -->
    <gap:splash src="splash.png" />
    
    <!-- iPhone and iPod touch -->
    <gap:splash src="s/ios/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="s/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />
    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <gap:splash src="s/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
    <!-- iPhone 6 -->
    <gap:splash src="s/ios/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
    <gap:splash src="s/ios/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
    <!-- iPad -->
    <gap:splash src="s/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
    <!-- Retina iPad -->
    <gap:splash src="s/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
    
    <gap:splash src="s/android/res-long-port-ldpi/default.png" gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="s/android/res-long-port-mdpi/default.png" gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="s/android/res-long-port-hdpi/default.png" gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="s/android/res-long-port-xhdpi/default.png" gap:platform="android" gap:qualifier="xhdpi" />
    <gap:splash src="s/android/res-long-port-xxhdpi/default.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
    <gap:splash src="s/android/res-long-port-xxxhdpi/default.png" gap:platform="android" gap:qualifier="port-xxhdpi" />



 
    
</widget>
