//colors
@textColor:white;
@textColorAlt:#EBEBEB;
@textColorDark:#313131;
@darkBg:black;
@mainBg:#171717;
@darkgrey:#101010;


//dimensions
@headerHeight:5.6em;
@circleW:29.5em;
@backgroundSplit:0.6;
@songHeight:2.7em;
@menuWidth:18em;

//transitions
@pressTransition:0.15s;
@h1Transition:1s;
@menuTransition:0.7s ease-out;