//hallo merijn , style mij pls
#modal{
    #textArea{color:blue;}
    #buttonArea{
        .button{

        }

    }
    position: fixed;
    background: black;
    height: 100%;
    width: 100%;
    z-index: 99;
    padding-top: 50%;
}
