//colors
@textColor:white;
@textColorAlt:#EBEBEB;
@darkBg:black;
@mainBg:#171717;

//dimensions
@headerHeight:5.6em;
@circleW:29.5em;
@backgroundSplit:0.6;

//transitions
@pressTransition:0.15s;
@h1Transition:1s;